<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">

    <main class="container mx-auto flex-grow mt-10 px-4 md:px-8 lg:px-16 max-w-screen-lg">
        <h2 class="text-2xl font-bold text-center mb-8">Welcome To Prodigi Desk</h2>
        <p class="mb-8">
            ProdigiDesk is a versatile tool designed to streamline office operations and enhance productivity through automation.
            It uses Generative AI to build applications such as E-Mail generator, Document summarizer, Offer Letter generator,
            Sales script generator, content generator - aids in crafting of engaging blog posts and email newsletters, and Business
            proposal generator to create impressive business proposals.
        </p>
        <p class="mb-8">
            This tool will benefit micro-, small-, and medium-sized enterprises as it enhances their productivity and eliminates the
            language barriers toward winning new business, so the companies can unlock greater opportunities.
        </p>
        <p class="mb-8">
            It ensures that the product is in compliance with data security laws; we don't store any information fed into the tool
            while using it. We don't use your private data for model training.
        </p>
    </main>
    <footer class="bg-white shadow mt-10 w-full">
        <div class="container mx-auto p-4 flex justify-between items-center">
            <p>Esprit Analytique | <a href="https://espritanalytique.com">espritanalytique.com</a> | contact@espritanalytique.com</p>
            <p>Copyright © 2024 EspritAnalytique - All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>

