<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProdigiDesk</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    
    <main class="container mx-auto flex-grow mt-10 px-4 md:px-8 lg:px-16 max-w-screen-lg">
        <h2 class="text-2xl font-bold text-center mb-8">Welcome To Prodigi Desk</h2>

        <h2 class="text-2xl font-bold text-center mb-8">Revolutionize Your Workflow with ProdigiDesk</h2>
        <p class="text-xl text-center mb-8">Unlock opportunities Like Never Before!</p>
        <div class="text-center">
            <ul class="list-disc list-inside mb-8 text-left inline-block">
                <li>Mail Generator for crafting precise email correspondence</li>
                <li>Summarization tool that condenses uploaded documents</li>
                <li>Offer Letter Generator to simplify HR processes</li>
                <li>Sales Script Generator that tailors pitches based on customer segments, industries, and products</li>
                <li>Supports content creation, aiding in the crafting of engaging blog posts and email newsletters</li>
                <li>Business proposal generator to create impressive business proposals</li>
            </ul>
        </div>
        
</body>
</html>
